@media screen and (max-width: 991.98px) {
    .nav-link-text {
        display: inline !important; 
        widows: 100%;
    }
    .cloud {
        display: none !important;
    }
}
body {
    /* background-color: #0B0C10;    */
  
    background-color:#173046;
    font-family: 'Righteous', cursive;
    color: #d7fbfa;
}


.navbar--background {
    background-color: black;
}
.element_hide {
    display: none;
}

.mainhead {
    padding-top: 7rem;
    padding-bottom: calc(7rem - 52px);
    /* background: linear-gradient(to bottom, rgba(255, 255, 254, 0.8) 0%, rgba(1, 4, 8, 0.8) 0%), url("../elementy graficzne/tlo/tlo.jpg"); */
    /* background: url("../elementy graficzne/tlo/tlo.jpg"); */
    background-image: url("../elementy graficzne/tlo/tlo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.mainhead--h1 {
    font-size: 400%;
}
.mainhead--p {
    font-size: 150%;
}
.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.articles__articleBox {
    /* box-shadow: 3px 5px 8px 6px  #494B68; */
    background-color: #022140;
    /* border:solid #494B68; */
    border: 5px solid rgb(163, 163, 54);
}
.articles__paragraph {
    font-family: 'Maven Pro', sans-serif;
    padding: 0 1%;
   
}
.articles__image {
    max-width: 100%;
    height: auto;
    padding: 1% 0;
}
.text-color-a {
    color: #C5C6C7;
}
.page-section {
    /* background-color: rgb(9, 17, 26); */
}
.page-section__image {
    background-color: #C5C6C7;
}

.container-articles {
     width: 80%;
     margin: 0 auto; 
}

.button_style {
    color: #d7fbfa;
    background-color:#173046;
}
.footer_style{
    color: #C5C6C7;
    background-color: #0B0C10;
}
